$bp-mobile: 400px;
$bp-tablet: 960px;
$font-family: 'Libre Franklin', sans-serif;

@mixin for-size($size) {
    @if $size==phone-only {
        @media only screen and (max-width: $bp-mobile) {
            @content;
        }
    }
    @else if $size==tablet-up {
        @media only screen and (min-width: $bp-mobile + 1) {
            @content;
        }
    }
    @else if $size==desktop-up {
        @media only screen and (min-width: $bp-tablet + 1) {
            @content;
        }
    }
}
.MovieList {
    width: 80%;
    margin: auto;
    padding: 10px;
    // display: grid;
    // grid-gap: 6px;
    // grid-template-columns: 100%;
}
.InfoInput {
    margin: auto;
    width: 60%;
    display: grid;
    grid-gap: 6px;
    justify-items: center;

}
.SortFeature {
    margin: auto;
}
.ListElem {
    margin: auto;
    margin-top: 6px;
    width: 100%;
    // height: 30px;
    display: grid;
    background-color: gray;
    grid-gap: 6px;
    grid-template-columns: 15% 82% 3%;
    // justify-items: center;
    @include for-size(desktop-up) {
        height: 200px;
    }
    @include for-size(bp-mobile) {
        height: 100px;        
    }
}
.ListElemImg {

    height: 100%;
    width: auto;
}
.MovieInfo {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-top: 8px;
    h2,p {
        color: black;
        // font-size: 1em;
        font: $font-family;
    }
}
