
div.Gallery {
    // position: fixed; 
    height: 100%;
    width: 100%;
    ul {
        display: grid;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: 50% 50%;
    }
}


.GenreContainer {
    position: auto;
    height: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(4, 25%);
}
.genre {
    height: 100%;
    width: 100%;
    background-color: gray;
    display: grid;
    border: 1px solid #3d3d3d;
}
.genre p {
    align-self: center;
    justify-self: center;
}
.MovieContainer {
    // .GalleryContainer
    /* On the flex container */
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    // grid-template-rows: 12px 12px 12px;
    div img {
        width: 100%;
        height: auto;
    }

}
header li {
    color: white;
    text-decoration: none;
    font-family: 'Amaranth', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
}

header li.active,
header li:hover {
    color: #3d3d3d;
}


