div {
    text-align: center;

}
.ButtonContainer {
    position: absolute;
    top: 50%;
}
// button {
//     width: 50px;
//     height: auto;
//     background-color: blue($color: #000000);

// }


.Prev,
.Next {
    cursor: pointer;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: hsla(0, 0%, 100%, .5);
}

